
@{
    ViewBag.Title = "createVBdi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thêm mới văn bản đi</h6>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <form>

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Số văn bản</label>
                                <input class="form-control" type="text" value=" " id="SoVanBan" />
                            </div>
                            <div class="form-group">
                                <label>Ngày văn bản</label>
                                <input class="form-control" type="date" id="NgayVanBan" />
                            </div>
                            <div class="form-group">
                                <label>Ký hiệu văn bản</label>
                                <input class="form-control" type="text" id="KyHieuVanBan" />
                            </div>
                            <div class="form-group">
                                <label>Đơn vị nhân</label>
                                <input class="form-control" type="text" id="DonViNhan" />
                            </div>
                            <div class="form-group">
                                <label for="NgonNgu">Ngôn ngữ</label>
                                <select class="form-control" value="Tiếng Anh" id="NgonNgu">
                                    <option selected>Tiếng Anh</option>
                                    <option>Tiếng Việt</option>
                                </select>
                            </div>


                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <input class="form-control" type="text" id="TrangThai" />
                            </div>
                            <div class="form-group">
                                <label>Số bản</label>
                                <input class="form-control" type="text" id="SoBan" />
                            </div>
                            <div class="form-group">
                                <label>Họ tên người ký</label>
                                <input class="form-control" type="text" id="HotenNguoiKy" />
                            </div>
                            <div class="form-group">
                                <label for="LinhVuc">Lĩnh vực</label>
                                <select class="form-control" value="CTĐ-CTCT" id="LinhVuc">
                                    <option selected>CTĐ-CTCT</option>
                                    <option>CNTT</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="DoKhan">Độ khẩn</label>
                                <select class="form-control" value="Hỏa tốc" id="DoKhan">
                                    <option selected>Thường</option>
                                    <option>Hỏa tốc</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Số hồ sơ</label>
                                <input class="form-control" type="text" id="SoHoSo" />
                            </div>
                            <div class="form-group">
                                <label>Số tờ</label>
                                <input class="form-control" type="text" id="SoTo" />
                            </div>
                            <div class="form-group">
                                <label>Chức vụ người ký</label>
                                <input class="form-control" type="text" id="ChucVuNguoiKy" />
                            </div>
                            <div class="form-group">
                                <label for="LoaiVanBan">Loại văn bản</label>
                                <select class="form-control" value="Công văn" id="LoaiVanBan">
                                    <option selected>Công văn</option>
                                    <option>Nghị quyết</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="DoMat">Độ mật</label>
                                <select class="form-control" value="Mật" id="DoMat">
                                    <option selected>Mật</option>
                                    <option>Tuyệt mật</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <input class="form-control" type="text" id="GhiChu" />
                            </div>
                            <div class="form-group">
                                <label>Trích yếu</label>
                                <textarea class="form-control" rows="3" id="TrichYeu"></textarea>
                            </div>
                            <div class="form-group">
                                <label>File đính kèm</label>
                                <input type="file" class="form-control-file" id="file" />
                            </div>
                            <button type="button" class="btn btn-success btn-sm" onclick="addVb()">Nhập mới</button>
                            <a href="@Url.Action("GetList", "VanBanDen")"><i class="btn btn-warning btn-sm">Quay lại</i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    const addVb = () => {
        const SoVanBan = $('#SoVanBan').val();
        const NgayVanBan = $('#NgayVanBan').val();
        const KyHieuVanBan = $('#KyHieuVanBan').val();
        const DonViNhan = $('#DonViNhan').val();
        const NgonNgu = $('#NgonNgu').val();
        const DoMat = $('#DoMat').val();
        const TrangThai = $('#TrangThai').val();

        const SoBan = $('#SoBan').val();
        const HoTenNguoiKy = $('#HoTenNguoiKy').val();

        const LinhVuc = $('#LinhVuc').val();
        const DoKhan = $('#DoKhan').val();


        const SoTo = $('#SoTo').val();
        const ChucVuNguoiKy = $('#ChucVuNguoiKy').val();
        const SoHoSo = $('#SoHoSo').val();
        const LoaiVanBan = $('#LoaiVanBan').val();

        const GhiChu = $('#GhiChu').val();
        const TrichYeu = $('#TrichYeu').val();

        $.ajax({
            type: "POST",
            url: "/VanBanDi/addVBdi",
            data: {
                SoVanBan, NgayVanBan, KyHieuVanBan,DonViNhan, NgonNgu, DoMat, SoBan, HoTenNguoiKy,
           SoBan, HoTenNguoiKy, LinhVuc, DoKhan, TrangThai,SoTo, ChucVuNguoiKy, SoHoSo, LoaiVanBan, GhiChu, TrichYeu
        },
            success: function (data) {
                alert('Thêm mới thành công')
                window.location = data.url;


            },
            error: function (data) {
                alert('Thêm mới không thành công')
            }

                })
            }
</script>

