
@{
    ViewBag.Title = "formUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using QuanLyVanBan.Models;
<div class="container-fluid">
    <h6 class="m-0 font-weight-bold text-primary">Hệ thống cán bộ cấp Tiểu đoàn</h6>
    <section style="background-color: #eee;">
        <form>
            @using (var db=new Model1()) { 
                var obj=(from s in db.CaNhans
                        join sa in db.NguoiDung_ChiTietQuyen on s.MaCaNhan equals sa.MaCaNhan
                        where sa.MaNhomQuyen==1
                        select s).ToList();

                foreach (var ob in obj)
                {
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                         class="rounded-circle img-fluid" style="width: 150px;">
                                    <h5 class="my-3">Tiểu đoàn trưởng</h5>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Full Name</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@ob.CapBac @ob.TenCaNhan</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@ob.email</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Phone</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@ob.SDT</p>
                                        </div>
                                    </div>
                                    <hr>
                            
                                </div>
                            </div>
                        </div>
                    </div>}
           

            }
        </form>
        



    </section>
</div>

