
@{
    ViewBag.Title = "FormAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nhập mới văn bản</h6>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <form>

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Số văn bản</label>
                                <input class="form-control" type="text" value=" " id="SoVanBan" required />
                            </div>
                            <div class="form-group">
                                <label>Ngày văn bản</label>
                                <input class="form-control" type="date" id="NgayVanBan" required />
                            </div>
                            <div class="form-group">
                                <label>Ký hiệu văn bản</label>
                                <input class="form-control" type="text" id="KyHieuVanBan" />
                            </div>
                            <div class="form-group">
                                <label>Tình trạng văn bản</label>
                                <input class="form-control" type="text" id="TinhTrang" />
                            </div>
                            <div class="form-group">
                                <label>Cơ quan ban hành</label>
                                <input class="form-control" type="text" id="CoQuanBanHanh" required />
                            </div>
                            <div class="form-group">
                                <label for="NgonNgu">Ngôn ngữ</label>
                                <select class="form-control" value="Tiếng Anh" id="NgonNgu">
                                    <option value="None">--Chọn--</option>
                                    <option value="Tiếng Anh">Tiếng Anh</option>
                                    <option>Tiếng Việt</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="DoMat">Độ mật</label>
                                <select class="form-control" id="MaDoMat">
                                    <option value="None">--Chọn--</option>
                                    <option value="1">Mật</option>
                                    <option value="2">Tuyệt mật</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Trạng thái văn bản</label>
                                <input class="form-control" type="text" id="TrangThaiVanBan" />
                            </div>
                            <div class="form-group">
                                <label>Ngày đến</label>
                                <input class="form-control" type="date" id="NgayDen" required />
                            </div>
                            <div class="form-group">
                                <label>Số bản</label>
                                <input class="form-control" type="text" id="SoBan" />
                            </div>
                            <div class="form-group">
                                <label>Họ tên người ký</label>
                                <input class="form-control" type="text" id="HotenNguoiKy" />
                            </div>
                            <div class="form-group">
                                <label>Thủ trưởng duyệt</label>
                                <input class="form-control" type="text" id="ThuTruongDuyet" />
                            </div>
                            <div class="form-group">
                                <label for="LinhVuc">Lĩnh vực</label>
                                <select class="form-control" id="LinhVuc">
                                    <option value="None">--Chọn--</option>
                                    <option value="1">CTĐ-CTCT</option>
                                    <option value="2">CNTT</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="DoKhan">Độ khẩn</label>
                                <select class="form-control" id="MaDoKhan">
                                    <option value="None">--Chọn--</option>
                                    <option value="1" selected>Thường</option>
                                    <option value="2">Hỏa tốc</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Trạng thái xử lý</label>
                                <input class="form-control" type="text" id="TrangThaiXuLy" />
                            </div>
                            <div class="form-group">
                                <label>Hạn giải quyết</label>
                                <input class="form-control" type="date" id="HanGiaiQuyet" />
                            </div>
                            <div class="form-group">
                                <label>Số tờ</label>
                                <input class="form-control" type="text" id="SoTo" />
                            </div>
                            <div class="form-group">
                                <label>Chức vụ người ký</label>
                                <input class="form-control" type="text" id="ChucVuNguoiKy" />
                            </div>
                            <div class="form-group">
                                <label>Số hồ sơ</label>
                                <input class="form-control" type="text" id="SoHoSo" />
                            </div>
                            <div class="form-group">
                                <label for="MaLoaiVanBan">Loại văn bản</label>
                                <select class="form-control" id="MaLoaiVanBan">
                                    <option value="None">--Chọn--</option>
                                    <option value="1">Công văn</option>
                                    <option value="2">Nghị quyết</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Ngày trả bảo mật</label>
                                <input class="form-control" type="date" id="NgayTraBaoMat" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <input class="form-control" type="text" id="GhiChu" />
                            </div>
                            <div class="form-group">
                                <label>Trích yếu</label>
                                <textarea class="form-control" rows="3" id="TrichYeu"></textarea>
                            </div>
                            <div class="form-group">
                                <label>File đính kèm</label>
                                <input type="file" class="form-control-file" id="file" />
                            </div>
                            <button type="submit" class="btn btn-success btn-sm" onclick="addVb()">Nhập mới</button>
                            <a href="@Url.Action("GetList", "VanBanDen")"><i class="btn btn-warning btn-sm">Quay lại</i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    const addVb = () => {
        const SoVanBan = $('#SoVanBan').val();
        const NgayVanBan = $('#NgayVanBan').val();

        const KyHieuVanBan = $('#KyHieuVanBan').val();
        const TinhTrang = $('#TinhTrang').val();
        const CoQuanBanHanh = $('#CoQuanBanHanh').val();
        const NgonNgu = $('#NgonNgu').val();
        const MaDoMat = $('#MaDoMat').val();
        const TrangThaiVanBan = $('#TrangThaiVanBan').val();
        const NgayDen = $('#NgayDen').val();
        const SoBan = $('#SoBan').val();
        const HoTenNguoiKy = $('#HoTenNguoiKy').val();
        const ThuTruongDuyet = $('#ThuTruongDuyet').val();
        const LinhVuc = $('#LinhVuc').val();
        const MaDoKhan = $('#MaDoKhan').val();
        const TrangThaiXuLy = $('#TrangThaiXuLy').val();
        const HanGiaiQuyet = $('#HanGiaiQuyet').val();
        const SoTo = $('#SoTo').val();
        const ChucVuNguoiKy = $('#ChucVuNguoiKy').val();
        const SoHoSo = $('#SoHoSo').val();
        const MaLoaiVanBan = $('#MaLoaiVanBan').val();
        const NgayTraBaoMat = $('#NgayTraBaoMat').val();

        const GhiChu = $('#GhiChu').val();
        const TrichYeu = $('#TrichYeu').val();

        if (MaLoaiVanBan == "None" || LinhVuc == "None" || NgonNgu == "None" || MaDoMat == "None" || MaDoKhan == "None") {
            alert("Vui lòng chọn đầy đủ thông tin");
            return;
        }
        let x1 = new Date(NgayVanBan);
        let x2 = new Date(NgayDen);
        if (x1 > x2) return;

        $.ajax({
            type: "POST",
            url: "/VanBanDen/Create",
            data: {
                SoVanBan, NgayVanBan, KyHieuVanBan, TinhTrang, CoQuanBanHanh, NgonNgu, MaDoMat, TrangThaiVanBan, NgayDen, SoBan, HoTenNguoiKy,
                NgayDen, SoBan, HoTenNguoiKy, ThuTruongDuyet, LinhVuc, MaDoKhan, TrangThaiXuLy, HanGiaiQuyet, SoTo, ChucVuNguoiKy, SoHoSo, MaLoaiVanBan, NgayTraBaoMat, GhiChu, TrichYeu
            },
            success: function (data) {
                alert('Thêm mới thành công')


            },
            error: function (data) {
                alert('Thêm mới không thành công')
            }

        })
    }
</script>
