
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <div class="form-actions no-color">
        <button type="button" value="Delete" class="btn btn-danger btn-sm">Delete</button>
        <a href="@Url.Action("GetList", "VanBanDen")"><i class="btn btn-warning btn-sm">Back</i></a>
    </div>
</body>
</html>